@import url('https://fonts.googleapis.com/css2?family=Mallanna&display=swap');


* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: 'Mallana', sans-serif;
    font-size: 16px;
    color: #333;
}

.section {
    padding: 1rem;
    background-color: white;

    &__title {
        text-align: center;
        font-size: 3.55rem;
        margin: 3rem;
    }
}

