.description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 7rem;

    &__item {
        background-color: #eaeaea;
        text-align: center;
        padding: 1rem;
        border-radius: 8px;
        position: relative;
        border: 1px solid #1ab394;
        padding-top: 3rem;
    }

    &__image {
        width: unset;
    }

    &__icon {
        padding: 2rem;
        border-radius: 50%;
        border: 1px solid #1ab394;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        background-color: #eaeaea;
    }
}