.services__section {
   
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #eaeaea;
    border: 1px solid #1ab39431;
    border-radius: 4px;

    &__list {
        height: 100%;
    }

    &__wrap {
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__img {
        border-radius: 4px;
        display: block;
    }

    &__item {
        font-size: 1.5rem;
        &::marker {
            color: #1ab394;
        }
    }
}